h3
  | "#{@participant.name.capitalize} #{@participant.surname.capitalize}"
  small= @participant.email
= link_to 'Edit', edit_participant_path(@participant)

.row
  .col-lg-3= image_tag Avatar.new(@participant.email).url(200), height: 200, width: 200
  .col-lg-9