<h3><%= "#{@user.name.capitalize} #{@user.surname.capitalize}" %> <small><%= @user.email %></small></h3>

<div class="row">
	<div class="col-lg-3">
	<%= gravatar_image_tag @user.email, gravatar: {size: 200}%>
	</div>
	<div class="col-lg-9">
		<div>
			<% @user.attributes.each do |key,value| %>
				<% next if key.eql?("_id") || key.empty? || key.eql?("was") %>	
				<p><%= "#{key} : #{value}" %></p>
			<% end %>
		</div>
		<div>
			Categories
		</div>
		<div>
			Events
		</div>
		<div>
			Calendar
		</div>
	</div>
</div>