<% provide(:title, 'Import') %>
<div class="row">
	<div class="col-lg-6 col-offset-3" id="forma">
	</div>
</div>
<script type="text/javascript">
  (function($){
    new App.RegistrationsImport({el: $("#forma")});
  })(jQuery);
</script>