<% provide(:title, 'Home') %>

<div class="jumbotron">
  <h1>SummaryApp <small>for community owners</small></h1>
  <p class="lead">Make your community better! Analyze events and build participants' rating. </p>
  <p><%=link_to 'Getting start',events_path,class: 'btn btn-success btn-large'%></p>
</div>
<div class="row marketing">

  <div class="col-md-4">
    <div class="thumbnail">
      <div class="caption sized">
        <h4>Import GoogleForms</h4>
        <p>Create form. Collect info about participants. Just import spreadsheet into the event and     SummaryApp automaticaly creates all participants or update existing</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <div class="caption sized">
        <h4>Collect information</h4>
        <p>Read info about participants that they leave in google forms. Sometimes it makes you laugh! </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <div class="caption sized">
        <h4>Set categories</h4>
        <p>Invite people in event by the subjects. Hand out marks for participant by Subject. See they raiting!!</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <div class="caption sized">
        <h4>Browse your community</h4>
        <p>Call on little events only active people! We help to find them on activity page.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <div class="caption sized">
        <h4>Analyze participation</h4>
        <p>Spot newcomers and fakers. Explore ratio of participants count</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <div class="caption sized">
        <h4>Find cool man</h4>
        <p>Look at raiting in categories and Find reporter for new event!</p>
      </div>
    </div>
  </div>
</div>
