<% provide(:title, 'Home') %>

<div class="jumbotron">
	<h1>Community App</h1>
	<p class="lead">Awesome proposition. You have One way. Only this way.</p>
	<p><%=link_to 'You Way',events_path,class: 'btn btn-success btn-large'%></p>
</div>