- provide(:title, 'Home')

.jumbotron
  h1 
    | SummaryApp 
    small for community owners
  p.lead Make your community better! Analyze events and build participants' rating.
  p= link_to 'Getting start', events_path, class: 'btn btn-success btn-large'

.row.marketing

  .col-md-4
    .thumbnail
      .caption.sized
        h4 Import GoogleForms
        p Create form. Collect info about participants. Just import spreadsheet into the event and     SummaryApp automaticaly creates all participants or update existing

  .col-md-4
    .thumbnail
      .caption.sized
        h4 Collect information
        p Read info about participants that they leave in google forms. Sometimes it makes you laugh!
      
  .col-md-4
    .thumbnail
      .caption.sized
        h4 Set categories
        p Invite people in event by the subjects. Hand out marks for participant by Subject. See they raiting!!
      
  .col-md-4
    .thumbnail
      .caption.sized
        h4 Browse your community
        p Call on little events only active people! We help to find them on activity page.
      
  .col-md-4
    .thumbnail
      .caption.sized
        h4 Analyze participation
        p Spot newcomers and fakers. Explore ratio of participants count
      
  .col-md-4
    .thumbnail
      .caption.sized
        h4 Find cool man
        p Look at raiting in categories and Find reporter for new event!
