- provide(:title, "#{@event.name}")

.row
  = render 'events/event_face', event: @event
  
  .col-sm-9
    nav.navbar.navbar-default role='navigation'
      ul.nav.navbar-nav
        li.active= link_to 'Log', @event
        li= link_to 'Registrations', event_registrations_path(@event)
      
      = link_to 'Import',import_event_registrations_path(@event), class: 'btn navbar-btn pull-right'
      = link_to 'Categorize', categorize_event_registrations_path(@event), class: 'btn navbar-btn pull-right'
    
    div
      table.table.table-hover
        thead
          tr
            th email
            th categories
          
        tbody
          - @participants.each do |part|
            tr class="#{participant_klass(part)}"
              td= link_to part.email, participant_path(part), class: 'no-color'
              td
                - part.categories.each do |cat|
                  span.badge= "#{cat.name} : #{cat.score}"