/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require twitter/bootstrap
 *= require custom.css.scss
 *= require bokeh
 */
 .user {
 	height: 60px;
 }
.user-info {
	margin-left: 5px;
	overflow-x: hidden;
	white-space: nowrap; 
}
.user-categories a {
	color: gray;
}
#dropZone {    
    color: #555;
    font-size: 18px;
    text-align: center;    
    
    width: 400px;
    padding: 50px 0;
    margin: 25px auto;
    
    background: #eee;
    border: 1px solid #ccc;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#dropZone.hover {
    background: #ddd;
    border-color: #aaa;
}

#dropZone.error {
    background: #faa;
    border-color: #f00;
}

#dropZone.drop {
    background: #afa;
    border-color: #0f0;
}
#thefile {
    visibility: hidden;
    width: 0;
    height: 0;
}
.event_name {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 10px;
    font-family: fantasy;
    font-size: x-large;
}
.sized {
    height: 150px;
}
.thumbnail {
    margin-bottom: 20px;
}