body {
	padding-top: 60px;
}

.user {
  height: 60px;
 }
.user-info {
  margin-left: 5px;
  overflow-x: hidden;
  white-space: nowrap; 
}
.user-categories a {
  color: gray;
}
#dropZone {    
    color: #555;
    font-size: 18px;
    text-align: center;    
    
    width: 400px;
    padding: 50px 0;
    margin: 25px auto;
    
    background: #eee;
    border: 1px solid #ccc;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#dropZone.hover {
    background: #ddd;
    border-color: #aaa;
}

#dropZone.error {
    background: #faa;
    border-color: #f00;
}

#dropZone.drop {
    background: #afa;
    border-color: #0f0;
}
#thefile {
    visibility: hidden;
    width: 0;
    height: 0;
}
.event_name {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 10px;
    font-family: fantasy;
    font-size: x-large;
}
.sized {
    height: 150px;
}
.thumbnail {
    margin-bottom: 20px;
}
.participants ul {
    margin: 0;
    list-style: none;
}
.participants ul li{
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}
.participant-img {
    float: left;
}
.meta {
    margin: 4px 22px 4px 0; 
}
a.no-color {
    color: black;
}

.participant {
    width: 150px;
    height: 150px;
    display: inline-table;
    overflow: hidden;
}

.participant-name {
    overflow: hidden;
    width: 150px;
}

.selected {
    border: 5px solid rgb(66, 127, 237);
}

.categories-select {
    width: 100%;
}

.goodness {
    display: inline;
}