<h1>Category <small class="label label-info"><%= @category.name %></small></h1>
<div id="category"></div>
<script type="text/javascript">
  (function() {
    new App.CategoryShow({el: "#category", category_id: '<%= @category.id %>'});
  })()
</script>